<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        Admin
                        <span class="user-level">Admin Paneli</span>
                    </span>
                </a>              
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a href="/Category/Index">
                    <i class="la la-list-alt"></i>
                    <p>Kategori</p>
                </a>
            </li>               
            <li class="nav-item">
                <a href="/Product/Index">
                    <i class="la la-cube"></i>
                    <p>Ürün</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Slider/Index">
                    <i class="la la-sliders"></i>
                    <p>Slider</p>
                </a>
            </li>
             <li class="nav-item">
                <a href="/ProductImage/Index">
                    <i class="la la-image"></i>
                    <p>Ürün Resmi</p>
                </a>
            </li>  
        </ul>
    </div>
</div>
